appnope==0.1.0
asgi-redis==0.8.3
asgiref==0.9
autobahn==0.12.1
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.6.0
boto==2.48.0
bs4==0.0.1
certifi==2018.8.24
channels==0.9.3
chardet==3.0.4
daphne==0.9.1
decorator==4.1.2
dj-database-url==0.4.0
Django==1.9.3
django-cors-headers==2.1.0
dnet==1.12
docutils==0.14
elasticsearch==5.4.0
enum34==1.1.6
filechunkio==1.8
graphviz==0.8.3
haikunator==1.0.1
idna==2.7
ipython==5.5.0
ipython-genutils==0.2.0
javalang==0.11.0
kerberos==1.2.5
msgpack-python==0.4.7
numpy==1.15.1
pathlib2==2.3.0
pexpect==4.2.1
pickleshare==0.7.4
pika==0.11.0
ply==3.11
plyj==0.1
prompt-toolkit==1.0.15
psycopg2==2.6.1
ptyprocess==0.5.2
PyAudio==0.2.11
Pygments==2.2.0
pygsr==0.1
redis==2.10.5
requests==2.19.1
scandir==1.5
scipy==1.1.0
simplegeneric==0.8.1
simplejson==3.13.2
six==1.10.0
SpeechRecognition==3.7.1
traitlets==4.3.2
Twisted==15.5.0
txaio==2.2.1
urllib2-kerberos==0.1.6
urllib3==1.23
virtualenv==15.1.0
wcwidth==0.1.7
Werkzeug==0.12.2
zope.interface==4.1.3
