
{% extends "base.html" %} {% block content %} {% load staticfiles %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<style>
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  text-align:center
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>

<div class="container">
  <div class="row">
    <div class="col">
      <h1> Call Room</h1>
          <button id="accept-btn" disabled>Accept Call</button>
          <button id="start-btn">Start Call</button>
          <button id="stop-btn" disabled>End Call</button>
          <button id="transfer" disabled>Transfer Call</button>
          <script type="text/javascript" src='{% static "reconnecting-websocket.min.js" %}'></script>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <br>
          <br>
          <br>
          <table id='conversations' style="width:100%">
              <tr>
              </tr>
          </table>
    </div>
    <div class="col col-lg-2">
      <div class="alert alert-success" role="alert">
        Keywords
      </div>
      <table id="keywords">
      </table>
      <div class="alert alert-success" role="alert">
        Astro Workflows
      </div>
      <table id="workflows">        
      </table>  
      <div class="alert alert-success" role="alert">
        Related Issues
      </div> 
      <table id="issues">        
      </table> 
    </div>
  </div>
</div>

<center>
  <div class="loader">
  </div>
</center>

<script>
// Expose globally your audio_context, the recorder instance and audio_stream
$(".loader").css('display', 'none');
var audio_context;
var recorder;
var audio_stream;
var userId = prompt("Please enter your name");
var callId = '7cda3c52-a254-4c04-906d-6f2f8712dcdb';
var dataGlobal = {};
var showConversations = false;
var globalCallback;
var recordingTimeout = 4000;
/**
 * Patch the APIs for every browser that supports them and check
 * if getUserMedia is supported on the browser. 
 * 
 */
function Initialize() {
    try {
        // Monkeypatch for AudioContext, getUserMedia and URL
        window.AudioContext = window.AudioContext || window.webkitAudioContext;
        navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia;
        window.URL = window.URL || window.webkitURL;

        // Store the instance of AudioContext globally
        audio_context = new AudioContext;
        console.log('Audio context is ready !');
        console.log('navigator.getUserMedia ' + (navigator.getUserMedia ? 'available.' : 'not present!'));
    } catch (e) {
        alert('No web audio support in this browser!');
    }
}

/**
 * Starts the recording process by requesting the access to the microphone.
 * Then, if granted proceed to initialize the library and store the stream.
 *
 * It only stops when the method stopRecording is triggered.
 */
function startRecording() {
    // Access the Microphone using the navigator.getUserMedia method to obtain a stream
    navigator.getUserMedia({ audio: true }, function(stream) {
        // Expose the stream to be accessible globally
        audio_stream = stream;
        // Create the MediaStreamSource for the Recorder library
        var input = audio_context.createMediaStreamSource(stream);
        console.log('Media stream succesfully created');

        // Initialize the Recorder Library
        recorder = new Recorder(input);
        console.log('Recorder initialised');

        // Start recording !
        recorder && recorder.record();
        console.log('Recording...');

        // Disable Record button and enable stop button !
        document.getElementById("start-btn").disabled = true;
        document.getElementById("stop-btn").disabled = false;
        document.getElementById("transfer").disabled = false;

        setTimeout(function() {
            recorder && recorder.exportWAV(uploadRecording,
                ("audio/wav"))
        }, recordingTimeout);

    }, function(e) {
        console.error('No live audio input: ' + e);
    });
}

/**
 * Stops the recording process. The method expects a callback as first
 * argument (function) executed once the AudioBlob is generated and it
 * receives the same Blob as first argument. The second argument is
 * optional and specifies the format to export the blob either wav or mp3
 */
function stopRecording(callback, AudioFormat) {
    // Stop the recorder instance
    recorder && recorder.stop();
    console.log('Stopped recording.');

    // Stop the getUserMedia Audio Stream !
    audio_stream.getAudioTracks()[0].stop();

    // Disable Stop button and enable Record button !
    document.getElementById("start-btn").disabled = false;
    document.getElementById("stop-btn").disabled = true;
    document.getElementById("transfer").disabled = true;
    document.getElementById("accept-btn").disabled = true;

    dataGlobal = {};
    showConversations = false;
    $("table tbody").empty();

    // Use the Recorder Library to export the recorder Audio as a .wav file
    // The callback providen in the stop recording method receives the blob
    if (typeof(callback) == "function") {
        /**
         * Export the AudioBLOB using the exportWAV method.
         * Note that this method exports too with mp3 if
         * you provide the second argument of the function
         */
        globalCallback = callback;
        recorder && recorder.exportWAV(uploadRecording,
            ("audio/wav"));
    }
};

var uploadRecording = function(blob) {
    var fd = new FormData();
    fd.append('fname', 'test.wav');
    fd.append('data', blob);
    fd.append('callId', callId);
    fd.append('userId', userId);
    $.ajax({
        type: 'POST',
        url: '/record/uploadAudioFile/',
        data: fd,
        processData: false,
        contentType: false
    }).done(function(data) {
        console.log('data', data);
    });
    recorder.clear();
    if (document.getElementById("stop-btn").disabled === false) {
        setTimeout(function() {
            recorder && recorder.exportWAV(uploadRecording,
                ("audio/wav"))
        }, recordingTimeout);
    }
}

// Initialize everything once the window loads
var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
var chatsock = new ReconnectingWebSocket(ws_scheme + '://' + window.location.host + "/chat" + window.location.pathname);
console.log('connected');

chatsock.onmessage = function(message) {
    var data = JSON.parse(message.data);
    console.log('On message ' , data);

    var playSound = function() {
      if(document.getElementById("accept-btn").disabled === false) {
        $.playSound("https://files.prokerala.com/downloads/ringtones/files/mp3/crystal-sound-by-lobh-41989.mp3");
        setTimeout(playSound, 1000);
      }else {
        $(".sound-player").remove();
      }
    }

    console.log('Call Transferred');
    if ('type' in data && data['type'] === 'transfer' && userId !== data['from']) {
        console.log('Call Transferred');
        setTimeout(playSound, 0);
        alert('Incoming Call');
        dataGlobal = data;
        document.getElementById("accept-btn").disabled = false;
    }
};

window.refresh = function() {
    if(document.getElementById("start-btn").disabled === true) {
        $(".loader").css('display', 'block');
        $.ajax({
            type: 'GET',
            url: '/callPunchuatedText/' + callId
        }).done(function(data) {
            $(".loader").css('display', 'none');
            console.log(data);
            console.log(typeof(data));
            console.log(data.length);
            $("#keywords").empty();
            $("#workflows").empty();
            $("#issues").empty();
            $("table tbody").empty();
            $("table tbody").append("<h2>Conversations</h2>");
            var conversation = "<tr><td>" + data['text'] + "</td></tr>";
            var keywordsDiv = "";
            var workflowsDiv = "";
            var issuesDiv = "";
            for(var counter = 0 ; counter < data['keywords'].length ; counter++) {
                keywordsDiv = keywordsDiv + "<tr> <td>"+data['keywords'][counter][0] +"</td> </tr> ";
                workflowsDiv = workflowsDiv +"<tr> <td> <a href=\"https://cscentral-gamma.amazon.com/gp/stores/www.amazon.com/gp/customer/kindle/detail/agent-troubleshooting/?ie=UTF8&customerID=A1GMQV5D2DCBLZ&unitID=GXX0K9BD95TQQ3B3&unitType=A363JBKK6AP29Q&usecaseSessionID=60036608161\">"
                +data['keywords'][counter][0] +"</a> </td> </tr> ";
                issuesDiv = issuesDiv +"<tr> <td> <a href=\"https://d2c2.amazon.com/event/465223277\">"
                +data['keywords'][counter][0] +"</a> </td> </tr> ";
            }
            $("table tbody").append(conversation);
            $("#keywords").append(keywordsDiv);
            $('#workflows').append(workflowsDiv);
            $("#issues").append(issuesDiv);
            var element = $('#conversations')[0];
            setTimeout(window.refresh, 2000);
        }).error(function(err) {
          setTimeout(window.refresh, 2000);
        })
    } else {
         setTimeout(window.refresh, 2000);
    }
}

setTimeout(window.refresh(), 1000);

window.onload = function() {
    // Prepare and check if requirements are filled
    Initialize();

    var convertAudio = function(AudioBLOB) {

    }

    // Handle on start recording button
    document.getElementById("start-btn").addEventListener("click", function() {
        startRecording();
    }, false);

    document.getElementById("accept-btn").addEventListener("click", function() {
        if (document.getElementById("accept-btn").disabled === false) {
            document.getElementById("accept-btn").disabled = true;
            $(".sound-player").remove();
            showConversations = true;
            startRecording();
        }
    }, false);

    // Handle on stop recording button
    document.getElementById("transfer").addEventListener("click", function(event) {
        var message = {
            handle: $('#handle').val(),
            message: $('#message').val(),
            type: 'transfer',
            callId: callId,
            from: userId
        }
        chatsock.send(JSON.stringify(message));
        var _AudioFormat = "audio/wav";
        stopRecording(convertAudio, _AudioFormat);
        return false;
    }, false);

    document.getElementById("stop-btn").addEventListener("click", function() {
        // Use wav format
        var _AudioFormat = "audio/wav";
        stopRecording(convertAudio, _AudioFormat);
    }, false);
};
</script>
<!-- Include the recorder.js library from a local copy -->
<script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
<script type="text/javascript" src='{% static "chat.js" %}'></script>
<script src='https://code.jquery.com/jquery-2.2.0.min.js'></script>
<script src='https://cdn.rawgit.com/admsev/jquery-play-sound/master/jquery.playSound.js'></script>
{% endblock content %} {% block afterbody %} {% endblock afterbody %}